<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codewjj.tiwen.mapper.UserMapper">

    <resultMap id="userMap" type="cn.codewjj.tiwen.model.UserDO">
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
    </resultMap>

    <select id="selectAll" resultMap="userMap">
        SELECT
            `user`.*
        FROM
            `user`
    </select>

</mapper>